<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>X5Learn</title>
        <link href="../static/css/header.css" rel="stylesheet">
        <link href="../static/css/base.css" rel="stylesheet">
        <link href="../static/css/multiple-choice.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <a href="{{ url_for('UserLoginSignupBP.index') }}" class="brand-logo">
                <img src="../static/images/image.png" alt="Logo">
            </a>
            <a href="{{ url_for('UserLoginSignupBP.load_home') }}" class="login-link">Profile</a>
        </header>
        <div class="show-text-container">
            <p>Code to share: {{questionSetCode}}</p>
            <button id="show-text-button" class="show-text">Show text</button>
            <form action="{{ url_for('UserLoginSignupBP.load_enter_text') }}">
                <input type="submit" class="try-again" value="Try again" />
            </form>
            <div id="text-modal" class="text-modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="text">
                        <p>{{context}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="quiz-container">
        {% if questions %}
            {% for i in range(0, questions|length) %}
                <div class="question-number">
                    <h3>Question {{i+1}} of {{questions|length}}</h3>
                </div>
                <div class="question">
                    <p id="question">{{questions[i]}}</p>
                </div>
                {% for option in options[i] %}
                    {% if (option == answers[i]) %}
                        <div class="options">
                            <button type="button" class="option-button" data-number="1" data-questionid={{questionIdHashes[i]}}>{{option}}</button>
                        </div>
                    {% else %}
                        <div class="options">
                            <button type="button" class="option-button" data-number="2" data-questionid={{questionIdHashes[i]}}>{{option}}</button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        </div>
        <script src="../static/javascript/multiple-choice.js"></script>
        <script src="../static/javascript/show-text.js"></script>
    </body>
</html>