.main-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}

.main-section h1{
    align-self: center;
}

.main-section textarea{
    resize: none;
    height: 300px;
    width: 80%;
    align-self: center;
    padding: 10px 10px;
    background-color: #EEEEEE;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: large;
}

.button-div{
    display: flex;
    justify-content: center;
}

.button-div button{
    align-self: center;
    text-decoration: none;
    color: white;
    background-color: #5c96a6;
    padding: 10px 30px;
    border: 1px solid #5c96a6;
    border-radius: 24px;
    text-transform: uppercase;
}

.button-div button:hover{
    background-color: white;
    color: #5c96a6;
    text-decoration: underline;
}

form {
    text-align: center;
}