@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Inter:wght@300&family=Poppins:wght@200&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Whole body */

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	min-height: 100vh;
}


/* First section - brief information and sign up form */

.section1 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	gap: 10px;
}


/* Information section */

.information-div {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 10px 50px;
}

.information-div h2 {
	text-decoration: underline;
	color: #04a4d0;
	font-size: 33px;
	margin-bottom: 0;
}

.text1 {
	font-size: 25px;
	font-weight: normal;
}

.text2 {
	font-size: 20px;
}


/* Sign up form section */

.signup-div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid black;
	border-radius: 24px;
	padding: 10px 10px;
	background-color: #EEEEEE;
}

.signup-form h1 {
	color: #04a4d0;
	text-decoration: underline;
	font-size: 35px;
	text-transform: uppercase;
}

.signup-form h2 {
	text-transform: uppercase;
	color: #04ac54;
	font-size: 25px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
	background-color: transparent;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus {
	width: 280px;
	border-color: #04a4d0;
}

.signup-form input[type="submit"] {
	background-color: transparent;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.signup-form input[type="submit"]:hover {
	text-decoration: underline;
	border-color: #04ac54;
	color: #04ac54;
}

.signup-form p {
	color: black;
	font-size: smaller;
	font-weight: 500;
}

.signup-form p a {
	color: black;
	cursor: pointer;
}

.signup-form p a:hover {
	color: #04ac54;
	cursor: pointer;
}


/* Second section - Features of website */

.section2 {
	background-color: #EEEEEE;
	margin: 10px auto;
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.section2 h1 {
	color: #04a4d0;
	font-size: 35px;
}

.features {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	gap: 10px;
}

.feature1,
.feature2,
.feature3 {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 10px 50px;
}

.feature1,
.feature2 {
	border-right: 1px solid grey;
}

.feature1 h2,
.feature2 h2,
.feature3 h2 {
	margin: 0 0;
}


/* Third section - Encouraging user to test with limited features */

.section3 {
	margin: 10px auto;
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.section3 h1 {
	color: black;
	font-size: 30px;
	text-transform: uppercase;
}


/* Footer */

.main-footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0px 10px;
}

.main-footer p {
	padding-left: 10px;
	color: white;
}