@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Inter:wght@300&family=Poppins:wght@200&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Whole body */

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	min-height: 100vh;
}

.question-num textarea {
	background-color: white;
	font-size: 20px;
	display: block;
	horiz-align: left;
	text-align: left;
	border: 2px solid black;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.question-num textarea:hover {
	text-decoration: underline;
	border-color: #04ac54;
	color: #04ac54;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #100909;
}

.question {
	margin-top: 10px;
	display: block;
	width: 100%;
	horiz-align: right;
}

.question-content {
	margin-top: 10px;
	width: 100%;
	flex-direction: column;
	padding: 10px 50px;
	border: 2px solid #0c0b04;
	display: block;
}

.choice-linka {
	float: left;
	text-decoration: none;
	color: white;
	background-color: #2290a4;
	padding: 10px 30px;
	border: 1px solid #000000;
	border-radius: 24px;
	text-transform: uppercase;
}

.choice-linkb {
	float: right;
	text-decoration: none;
	color: white;
	background-color: #2290a4;
	padding: 10px 30px;
	border: 1px solid #000000;
	border-radius: 24px;
	text-transform: uppercase;
}

.sub-link {
	margin-top: 10px;
	float: left;
	text-decoration: none;
	color: white;
	background-color: #04ac54;
	padding: 10px 30px;
	border: 1px solid #04ac54;
	border-radius: 24px;
	text-transform: uppercase;
}

.choiceFit {
	margin: 80px;
  	color: black;
}