@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Inter:wght@300&family=Poppins:wght@200&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Whole body */

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	min-height: 100vh;
	/*background-image: linear-gradient(#1bebef, #1299e1);;*/
	/*background-image: url("../images/study-skills-assessments.jpg");*/
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.question-num textarea {
	background-color: transparent;
	font-size: 20px;
	display: block;
	horiz-align: left;
	margin: 20px;
	text-align: left;
	border: 2px solid black;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.question-num textarea:hover {
	text-decoration: underline;
	border-color: #04ac54;
	color: #04ac54;
}


/*.question-num textarea{*/


/*    border: none;*/


/*    margin-top: 20px;*/


/*    margin-left: 10px;*/


/*    padding: 20px;*/


/*    justify-content: left;*/


/*    color: #0c0b04;*/


/*    font-size: 20px;*/


/*    font-weight: bolder;*/


/*    display:inline-block;vertical-align: top;horiz-align: left;*/


/*}*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #100909;
}

.question {
	display: block;
	width: 100%;
	margin-left: 400px;
	horiz-align: right;
	/*margin-left: 600px;*/
}

.question-content {
	width: 50%;
	margin-left: 10px;
	flex-direction: column;
	padding: 10px 50px;
	border: 2px solid #0c0b04;
	display: block;
}


/*.choices {*/


/*    width: auto;*/


/*    margin-left: 10px;*/


/*    flex-direction: column;*/


/*    padding: 10px 50px;*/


/*    display:inline-block;vertical-align: top;*/


/*}*/

.sub-link {
	margin-left: 400px;
	align-self: center;
	text-decoration: none;
	color: white;
	background-color: #04ac54;
	padding: 10px 30px;
	border: 1px solid #04ac54;
	border-radius: 24px;
	text-transform: uppercase;
}

.choices input {
	height: 20px;
	width: 20px;
	display: inline-block;
	horiz-align: right;
	vertical-align: top;
}

.choices label {
	border: 1px solid #adadad;
	padding: 2px 10px 2px 5px;
	line-height: 28px;
	min-width: 80px;
	text-align: center;
	float: left;
	margin: 5px;
	border-radius: 5px;
}

.choices input:checked+label {
	color: white;
}

.progressBar {
	width: 300px;
	display: inline;
	margin-left: 800px;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
}

meter {
	width: 200px;
}