@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/*set header*/

a:link, a:visited {
    text-decoration: none;
}



  #content {
    padding-left: calc(100vw - 100%);
  }

  body {
    background: rgba(24, 26, 31, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.42857;
    color: rgba(215, 217, 219, 1);
  }

  a,
  a:active,
  a:hover,
  a:focus {
    color: rgba(65, 145, 255, 1);
    text-decoration: none;
  }

  html,
  body {
    height: 100%;
    overflow: auto;
  }

  #app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  body ::selection {
    color: initial;
    background: rgba( 217, 233, 255, 1);
  }
  ::selection {
    color: initial;
    background: rgba(217, 233, 255, 1);
  }

  a,
  a:active,
  a:hover,
  a:focus {
    color: rgba(65, 145, 255, 1);
    text-decoration: none;
  }
  body {
    background: rgb(255, 255, 255);
  }
  .HomeWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;

  }

  .ContentWrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

  }

  .Container {
    position: relative;
  }

  .Content {
    padding: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1048px;
    min-width: 600px;
    margin: 0px auto;
    height: 100%;
    transition: max-width 0.3s ease 0s;
  }

  .Left {
    justify-self: flex-start;
    display: flex;
    align-items: flex-start;
    flex: 60%;
    height: auto;
    overflow: hidden;
    margin-right: 16px;

  }

  .PicWrapper{
    width:auto;
  }

  .Pic{
    height : 100px;
    width: 100px;
    display: inline;
  }

  .UserContentWrap {
    position: relative;
    flex: 1 1 0%;
    max-width: 1048px;
    min-width: 600px;
    margin: 0px auto 36px;
    padding: 0px 24px;
    display: grid;
    grid-template-rows: 180px auto 1fr;
    grid-template-columns: 238px auto;
    grid-template-areas: none;
    column-gap: 16px;
    transition: max-width 0.3s ease 0s;
  }


  .QuestionContainer {

    min-width: 0px;
  }

  .HelperContainer {
    width: 80%;
    position: relative;
    z-index: 0;
  }

  .ScrollContainer {

    overflow: auto hidden;
    white-space: nowrap;
    display: flex;
    padding: 8px 0px 8px 8px;
    margin: -8px 0px -8px -8px;
    box-sizing: content-box;
    width: calc(100% + 50px);
    direction: ltr;
  }

  .ScrollContainer::after {
    content: "";
    display: block;
    padding-right: 8px;
  }

  .ScrollContainer::-webkit-scrollbar {
    display: none;
  }

  .CardContainer {
    background-image: linear-gradient(60deg, #eaab0b, #eeee09);
    //background-color: rgba(20, 71, 201, 0.75);
    font-size: 16px;
    color: black;
    padding:15px;
    position: relative;
    height: 180px;
    flex: 1 1 0%;
    border-radius: 10px;
    /*background-color: rgb(255, 255, 255);*/
    box-shadow: 0px 1px 2px rgb(12, 11, 4), 0px 2px 8px rgb(16, 9, 9);
    overflow: hidden;

  }

  .CardTitleWrap {
    padding: 16px 16px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .CardTitle {
    display: flex;
    flex-direction: column;
  }

  .CardTitle span {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 17px;
    color: rgb(17, 4, 4);
  }

  .CardTitle b {
    display: flex;
    font-size: 22px;
    line-height: 100%;
    font-weight: 600;
    color: rgb(10, 94, 40);
  }

  .InfoWrapper {
    grid-area: 1 / 1 / 4 / auto;
  }




  .OutsideContainer {
    background-image: radial-gradient(#0596e3, #02f8f8);
    //background-color: rgba(19, 91, 98, 0.98);
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    padding:15px;
    position: relative;
    overflow: scroll;
    transition: 0.4s;
    flex: 1 0 auto;
    width: 100%;
    height: fit-content;
    color: rgba(239, 241, 246, 0.75);

    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(16, 9, 9), 0px 2px 8px rgb(12, 11, 4);
  }

  .InnerSection {
    margin: 0px 16px;
    padding: 24px 0px;
  }

  .InnerSection:not(:last-of-type) {
    border-bottom: 1px solid rgba(61, 61, 61, 1);
  }

  .Section:not(:last-of-type) {
    border-bottom: 1px solid rgba(61, 61, 61, 1);
  }

  .WikiSection {
    //background-color: blue ;
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 24px;
    padding-right: 0px;
  }

  .WikiTitle{
    color: rgba(33, 40, 53, 1);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .Concepts{
    margin-left: -20px;
    text-decoration: none;
    list-style-type: none;
  }

  .Concept{
    position: relative;
    z-index: 1;
    color: rgba(33, 40, 53, 1);
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;


  }


  .RecordContainer {
    flex: 1 1 0%;
    border-top-left-radius: 3px;
    width: 100%;
  }

  .StyledTabView {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
  }

  .StyledTabView>div:first-of-type {
    margin-bottom: 10px;
  }

  .TabContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }

  .Rows {

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
  }

  .Row {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 100%;
    padding: 13px 16px;
    box-shadow: 0px 1px 2px rgb(16, 9, 9), 0px 2px 8px rgb(16, 9, 9);
    border-radius: 8px;
    background-image: linear-gradient(#0763ee, #6031ec);
   /* background-color: rgba(255, 255, 255, 1);*/
  }

  .Row>div>div {
    font-size: 14px;
  }

  .SubmitContainer {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -60%);
  }

  .SubmitPercentage {
    text-align: center;
    font-size: 50px;
    color: rgba(11, 41, 117, 0.75);
  }

  .Integer {
    font-size: 30px;
    font-weight: 600;
  }

  .Fraction {
    font-size: 10px;
    font-weight: 600;
  }

  .SubmitText {
    font-size: 12px;
    line-height: 15px;
    color: rgba(5, 39, 84, 0.3);
    transform: scale(0.91);
    transform-origin: center top;
    white-space: nowrap;
  }

  .StyledProgressStats {
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 16px;
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
  }

  .MultipleChoice {
    color: rgb(10, 94, 40);
    font-size: 12px;
    line-height: 17px;
  }

  .TrueFalse {
    color: rgb(234, 11, 90);
    font-size: 12px;
    line-height: 17px;
  }

  .NumContainer {
    margin-top: 2px;
    line-height: 14px;
  }

  .TotalNum {
    color: rgb(42, 42, 29);
    font-weight: 500;
    font-size: 12px;
  }

  .TotalNum::before {
    content: "/";
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0px 1px;
  }

  .QuestionProgress2{
    margin-left: 180px;
  }

  .Avatar {
    display : inline;
    height: 100px;
    width: 100px;
    background: rgba(247, 248, 250, 1);
    border-radius: 3px;
  }

  .UserInfo {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 15px;
    height: auto;
    overflow: hidden;
  }

  .ShortIntro{
    margin-top:30px;
    margin-left: 10px;
    text-align: center;
    background-image: radial-gradient(#e8880a, #795e4d);

  }

  .Intro{
    font-family: Krungthep;
    color: #110606;
  }

  .Name{
    display: block;
  }

  .NameWrapper {
    display: flex;
    align-items: center;
  }

  .UsernameContainer {
    display: inline-flex;

    align-items: center;
  }

  .UserSurName{
    font-size: 12px;
    color: rgba(17, 62, 63, 0.85);
    line-height: 17px;
    display: flex;
    align-items: center;

  }

  .UserRank {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(0,0,0, 0.65);
  }

  .RankNumber {
    margin-left: 8px;
    color: rgba(0,0,0, 1);
    font-size: 16px;
    height: 20px;
    line-height: 22px;
    font-family: FetteMittelschrift, sans-serif;
  }

  .Right {
    justify-self: flex-end;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 80%
    width : 300px;
  }

  .FunWrapper {
    max-height: 100px;
    max-width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;

  }

  .FunWrapperContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    cursor: unset;
    height: 80px;
    min-width: 120px;
  }

  .stampContainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    cursor: pointer;
    height: 80px;
    min-width: 500px;
  }

  .SectionTitle {
    color: rgba(33, 40, 53, 1);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .RowWrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }

  .RowIcon {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  .RowIcon svg {
    width: 100%;
    height: 100%;
    color: rgba(52, 61, 73, 0.6);
  }

  .fa-envelope-o{
    width: 100%;
    height: 100%;
    color: rgba(52, 61, 73, 0.6);
  }

  .RowContent {
    width: calc(100% - 26px);
    margin-left: 8px;
    line-height: 17px;
    word-break: break-all;
    color : blue;
  }

  .Container {
    margin-top: 16px;
  }

  .StackRow {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
  }

  .RecordWrapper {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 24px;
    color: rgba(239, 241, 246, 0.75);
    font-weight: normal;
  }

  .SubmitQuestionContent {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .QuestionLink {
    position: relative;
    z-index: 1;
    color: rgba(33, 40, 53, 1);
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .SubmitCodeInfoWrap {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
  }

  .PassTag{
    user-select: none;
    font-size: 12px;
    line-height: 20px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    white-space: nowrap;
    color: rgba(90, 183, 38, 1);
    background-color: rgba(16.4769, 33.5031, 6.95692, 1);
    padding: 0px 6px;
    min-width: 40px;
    border-radius: 10px;
    margin-left: 10px;
  }

  .Timestamp {
    color: rgba(11, 41, 117, 0.75);
    flex-shrink: 0;
    margin-left: 10px;
    font-weight: normal;
    flex-basis: 65px;
    text-align: right;
  }

  .Achievement:not(:first-of-type) {
    margin-top: 10px;
  }

  .Record {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .Symbol {
    width: 18px;
    height: 18px;
  }

  .TitleContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: default;
    margin-left: 8px;
  }

  .Title {
    font-size: 14px;
    line-height: 18px;
    color: rgba(11, 41, 117, 0.75);
  }


  .StyledAnchor {
    color: rgba(0,0,0, 1);
  }

  .StyledAnchor:hover {
    color: rgba(0, 122, 255, 1);
  }

  .Count {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: rgba(0,0,0, 1);
    margin-left: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .UserFirstName {
    color: rgb(255, 161, 22);
    font-size: 20px;
  }

  .HeaderContainer{
    background-image: linear-gradient(45deg, #06f13c, #a3fc0b);

    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 10px;
    padding:15px;
    position: relative;
    overflow: scroll;
    transition: 0.4s;
    
  }

  .fa-list{
    height:100%;

  }


  .HeaderContainer:hover{
    cursor: pointer;
    background-color: #8CE6FF;
  }

  /* Cool shape design*/

.screen {
	background: linear-gradient(90deg, #bad5d1, #ffffff);
	position: relative;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 24px #b3cad0;
}

.screenb {
	background: linear-gradient(90deg, #bbdad5, #ffffff);
	position: relative;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 24px #378371;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
    width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}


.screen__background__shape3 {
	height: 180px;
	width: 190px;
	background: linear-gradient(270deg, #92a4a9, #69aac4);
	top: -24px;
	right: 0;
	border-radius: 32px;
}



.screen__background__shape4 {
    opacity: 0.4;
	height: 100px;
	width: 300px;
	background: #ccffc1;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}



