body{
    background-color: #e2e8f0;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.TS{
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.LS{
    background-color: #F0F8FF;
    border: 1px solid #4682B4;
    border-radius: 12px;
    padding: 10px;
}

.RS{
    background-color: #F0F8FF;
    border: 1px solid #4682B4;
    border-radius: 12px;
    padding: 10px;
}

.RS canvas:hover{
    cursor: pointer;
}

.MS textarea{
    resize: none;
    font-size: 16px;
}

.BS{
    width: 75%;
    background-color: #F0F8FF;
    border: 1px solid #4682B4;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.specific-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 5px;
}

.specific-info h1{
    align-self: center;
    font-size: 25px;
}

.test-wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    padding: 20px;
    gap: 5px;
    overflow: auto;
}

.test-wrapper div{
    height: auto;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.test-wrapper1{
    background-color: #8BF7C5;
}

.test-wrapper2{
    background-color: #e35c78;
}

.test{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.test-wrapper div:hover{
    cursor: pointer;
    background-color: #5d71c7;
    transform: scale(1.05);
}