<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editProfile</title>

    <script charset="utf-8" data-savepage-src=""></script>

  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/editProfile.css">


</head>
<body>
    <header class="main-header">
        <a href="{{ url_for('UserLoginSignupBP.index') }}" class="brand-logo"> <img src="../static/images/x5learn_logo.png" alt="Logo"> </a>
        <a href="#" class="login-link">Log in</a>

    </header>
    <div class="ContentBody">

        <div class = "UserInfo">
            <div class="Pic">
                  <img data-savepage-src="" src="data:image/webp;base64,UklGRmgBAABXRUJQVlA4IFwBAADQEQCdASqgAKAAPm00k0ekIyGhKL44cIANiWlu3QpmwwDMYnOi9YSviwnz0xZE50MO0FQH7Jfkct4inJ6aCRbYHCNgxBBi4cOWdQktNVkLEnX0QR4obFCoBnzg7wd4rSWVYE44tL5Z1v1UEKICNjylZ0XJzSJVmysygglTIyO8BMbQeQXo7RaHYIAa6aUX3L6c9UQkihoAAP7ywgCcs6qRQSJZgy2+xSdN0HJclI3kcIyZuDvrYDpf2oCU5Rcu6TCZrjANMMJZw5d8y/9FpZZd6B4gLqReBQwC8WpB4h/pCx6Aro0NHM9YcpiLWDLVDajiwLcyVFD3XgH8TxRRpi2Bm15GASnEkWVr0OvmkzGfw8oqAmNbe/LNuQ/V5tLLBOFIw5RMBjgMFfFx7MaoGgIhm2KvbB/Hh6uB6GZzhhsyb7dY7+JUwwOEcOYJ3xo50YdtoPUl5t6R5MZAAAA=" class="Avatar">
            </div>
            <div class="Welcome">
                <span class="Msg">Hi, xxx</span>
            </div>

        </div>
        <div class = "EditInfo">

            <div class = "InfoHead">Basic Info </div>
            <div class = "InfoContent">
                <form class = "Info">
                    <ul >
                        <li class = "Lists">
                            <div class="ContentShowLeft"> First name: </div>
                            <div class="ContentShowRight">
                            <input type="text" name="firstname" placeholder="Michael"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Last name: </div>
                            <div class="ContentShowRight">
                            <input type="text" name="lastname" placeholder=""  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Email: </div>
                            <div class="ContentShowRight">
                            <input type="email" name="email"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Date Of Birth: </div>
                            <div class="ContentShowRight">
                            <input type="date" name="dateofbirth"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Location: </div>
                            <div class="ContentShowRight">
                            <input type="text" name="location"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <button type="submit" class="SubmitButton"><span>Submit</span>  </button>
                    </ul>

                </form>



            </div>
            <div class = "InfoHead">Study Profile </div>
            <div class = "InfoContent">
                <form class = "Info">
                    <ul >
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Currently Study At </div>
                            <div class="ContentShowRight">
                            <input type="text" name="school" placeholder="UCL"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Major </div>
                            <div class="ContentShowRight">
                            <input type="text" name="major" placeholder="cs"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>
                        <li class = "Lists">
                            <div class="ContentShowLeft"> Graduate At </div>
                            <div class="ContentShowRight">
                            <input type="date" name="graduation"  class = "InputBox">
                                <br>
                                </input>
                            </div>
                        </li>

                        <button type="submit" class="SubmitButton"><span>Submit</span>  </button>


                    </ul>
                </form>

            </div>




        </div>
    </div>

</body>
</html>