<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Try yourself!</title>
	<link href="../static/css/tryGenerator.css" rel="stylesheet">
	<link href="../static/css/header.css" rel="stylesheet"> </head>

<body>
	<header class="main-header">
		<a href="#" class="brand-logo"> <img src="../static/images/x5learn_logo.png" alt="Logo"> </a> <a href="#" class="login-link">Log in</a> </header>
	<div class="main-section">
		<h1 class="instructions-text">Enter a passage to try for free!</h1>
		<textarea placeholder="Enter your passage!" id="passage" name="passage" rows="10" cols="10"></textarea>
		<div class="last-section">
			<div class="option-amount">
				<label for="optionNumber">Number of options: </label>
				<select id="optionNumber">
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<div class="button-div"> <a href="#" class="generate-button">Generate example question</a> </div>
		</div>
	</div>
</body>

</html>