<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>X5Learn</title>

      <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
      <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
      <link rel="stylesheet" href="../static/css/base.css">
      <link rel="stylesheet" href="../static/css/header.css">
      <link rel="stylesheet" href="../static/css/footer.css">
      <link rel="stylesheet" href="../static/css/logInSignUpPage.css">
  </head>

  <body>
    <header class="main-header">
            <a href="{{ url_for('user_bp.index') }}" class="brand-logo"> <img src="../static/images/x5learn_logo.png" alt="Logo"> </a>
    </header>

      <div class="container">
          <div class="screen">
              <div class="screen__content">
                  <form class="login" method="POST">
                      <div>
                          <p>{{loginErrorMessage}}</p>
                      </div>
                      <div class="login__field">
                          <i class="login__icon fas fa-user"></i>
                          <input type="text" class="login__input" placeholder="Email" name="email">
                      </div>
                      <div class="login__field">
                          <i class="login__icon fas fa-lock"></i>
                          <input type="password" class="login__input" placeholder="Password" name="password">
                      </div>
                      <button class="button login__submit" formaction="/logIn" formmethod="POST">
                          <span class="button__text">Log In Now</span>
                          <i class="button__icon fas fa-chevron-right"></i>
                      </button>
                      <button class="button login__submit" formaction="/signUp" formmethod="POST">
                          <span class="button__text">Sign Up Now</span>
                          <i class="button__icon fas fa-chevron-right"></i>
                      </button>
                  </form>
              </div>
              <div class="screen__background">
                  <span class="screen__background__shape screen__background__shape4"></span>
                  <span class="screen__background__shape screen__background__shape3"></span>
                  <span class="screen__background__shape screen__background__shape2"></span>
                  <span class="screen__background__shape screen__background__shape1"></span>
              </div>
          </div>
      </div>

    <section class="section2">
      <footer class="main-footer"> <img src="../static/images/eu-flag.png" alt="European Union Flag">
          <p>This project has received funding from the European Union’s Horizon new policy 2020 research and innovation programme under grant agreement No 761758.</p>
      </footer>
    </section>
  </body>
</html>