<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>X5Learn</title>
        <link href="../static/css/header.css" rel="stylesheet">
        <link href="../static/css/base.css" rel="stylesheet">
        <link href="../static/css/multiple-choice.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <a href="launchpage.html" class="brand-logo">
                <img src="../static/images/x5learn_logo.png" alt="Logo">
            </a>
        </header>
        <div class="quiz-container">
            <div class="question-number">
                <h3>Question 1 of 1</h3>
            </div>
            <div class="question">
                <p>Which animal is the fastest land animal?</p>
            </div>
            <div class="options">
                <div id="0" class="option1" data-number="1">Cheetah</div>
                <div id="1" class="option2" data-number="2">Lion</div>
                <div id="2" class="option3" data-number="3">Jaguar</div>
                <div id="3" class="option4" data-number="4">Tiger</div>
            </div>
            <div class="button">
                <button type="button" class="btn">Submit</button>
            </div>
        </div>
    </body>
</html>