<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Multiple Choice</title>

	<link href="../static/css/multipleChoice.css" rel="stylesheet">
	<link href="../static/css/header.css" rel="stylesheet"> </head>
      <link rel="stylesheet" href="../static/css/base.css">
	  <link rel="stylesheet" href="../static/css/header.css">
	  <link rel="stylesheet" href="../static/css/footer.css">
      <link rel="stylesheet" href="../static/css/index.css">

<body>
	<header class="main-header">
		<a href="#" class="brand-logo"> <img src="../static/images/x5learn_logo.png" alt="Logo"> </a> <a href="#" class="login-link">Log in</a> </header>
	<div class="progressBar"> <span> Your Progress：</span>
		<meter min="0" max="500" value="350">350 degrees</meter>
	</div>

	<div class="choiceFit">
		  <div class="screen">
			  <div class="screen__content">
					<div class="question-num">
						<label>
							<textarea placeholder="Question 1" id="passage" name="passage" rows="1" cols="10" contenteditable="false"></textarea>
						</label>
					</div>

					<div class="question-content">
						<p> The cheetah is the fastest land animal. </p>
					</div>

				  <form>
					  <br>
					  <input class="choice-linka" type="button" value="saber-toothed tiger"/>
					  <br><br>
					  <input class="choice-linka" type="button" value="jaguar"/>
					  <br><br>
					  <input class="choice-linka" type="button" value="snow leopard"/>
					  <br><br>
					  <input class="choice-linka" type="button" value="cheetah"/>
					  <br><br>
					  <input class="sub-link" type="button" value="submit" />
					  <br><br>
				  </form>

			  </div>

			  <div class="screen__background">
				  <span class="screen__background__shape screen__background__shape4"></span>
				  <span class="screen__background__shape screen__background__shape3"></span>
				  <span class="screen__background__shape screen__background__shape2"></span>
				  <span class="screen__background__shape screen__background__shape1"></span>
			  </div>
		  </div>
		</div>

</body>

</html>