<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link href="../static/css/header.css" rel="stylesheet">
        <link href="../static/css/base.css" rel="stylesheet">
        <link href="../static/css/signup-login.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <a href="{{ url_for('UserLoginSignupBP.index') }}" class="brand-logo">
                <img src="../static/images/x5learn_logo.png" alt="Logo">
            </a>
        </header>
        <div class="screen">
            <div class="container" id="container">
                <div class="form-container sign-up-container">
                    <form method="POST">
                        <h1>Sign Up</h1>
                        <p>{{loginErrorMessage}}</p>
                        <input type="email" id="email" placeholder="Email" name="email"/>
                        <input type="password" id="password" placeholder="Password" name="password"/>
                        <button formaction="/signUp">Sign Up</button>
                    </form>
                </div>
                <div class="form-container log-in-container">
                    <form method="POST">
                        <h1>Log In</h1>
                        <p>{{loginErrorMessage}}</p>
                        <input type="email" id="email" placeholder="Email" name="email"/>
                        <input type="password" id="password" placeholder="Password" name="password"/>
                        <a href="#">Forgot your password?</a><!--todo do this-->
                        <button formaction="/logIn">Log In</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <h1>Welcome Back!</h1>
                            <p>Log in and continue your journey.</p>
                            <button class="ghost" id="logIn">Log In</button>
                        </div>
                        <div class="overlay-panel overlay-right">
                            <h1>Hello, Friend!</h1>
                            <p>Create an account and start journey with us</p>
                            <button class="ghost" id="signUp">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/javascript/signup-login.js"></script>
    </body>