<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>X5Learn</title>
        <link href="../static/css/header.css" rel="stylesheet">
        <link href="../static/css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/true-false.css">
    </head>
    <body>
        <header class="main-header">
            <a href="{{ url_for('UserLoginSignupBP.index') }}" class="brand-logo">
                <img src="../static/images/image.png" alt="Logo">
            </a>
        </header>
        <div class="quiz-container">
            <div id="progress">
                <div id="bar"></div>
            </div>
            <div class="question-number">
                <h3>Question 1 of 1</h3>
            </div>
            <div class="question">
                <p id="question">Cheetah is a mammal.</p>
            </div>
            <div class="options">
                <button type="button" class="option-button" data-number="1">True</button>
            </div>
            <div class="options">
                <button type="button" class="option-button" data-number="2">False</button>
            </div>
        </div>
        <script src="../static/javascript/true-false.js"></script>
    </body>
</html>
