<html>
  <head>

  <meta charset="UTF-8">
  <title>UserProfile</title>
  <script charset="utf-8" data-savepage-src=""></script>

  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/userProfile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="light">
  <header class="main-header">
    <a href="{{ url_for('UserLoginSignupBP.index') }}" class="brand-logo"> <img src="../static/images/x5learn_logo.png" alt="Logo"> </a>
      <a href="#" class="login-link">Log in</a>
    </header>
  <div id="app">
    <div id="home" class="HomeWrapper">
      <div id="content" class="ContentWrapper">
        <div>
          <div class="Container">
            <div class="Content">
              <div class="Left">
                <div class="PicWrapper">
                  <picture class="Pic">
                  <source data-savepage-srcset="" srcset="" type="image/webp"><img data-savepage-src="" src="data:image/webp;base64,UklGRmgBAABXRUJQVlA4IFwBAADQEQCdASqgAKAAPm00k0ekIyGhKL44cIANiWlu3QpmwwDMYnOi9YSviwnz0xZE50MO0FQH7Jfkct4inJ6aCRbYHCNgxBBi4cOWdQktNVkLEnX0QR4obFCoBnzg7wd4rSWVYE44tL5Z1v1UEKICNjylZ0XJzSJVmysygglTIyO8BMbQeQXo7RaHYIAa6aUX3L6c9UQkihoAAP7ywgCcs6qRQSJZgy2+xSdN0HJclI3kcIyZuDvrYDpf2oCU5Rcu6TCZrjANMMJZw5d8y/9FpZZd6B4gLqReBQwC8WpB4h/pCx6Aro0NHM9YcpiLWDLVDajiwLcyVFD3XgH8TxRRpi2Bm15GASnEkWVr0OvmkzGfw8oqAmNbe/LNuQ/V5tLLBOFIw5RMBjgMFfFx7MaoGgIhm2KvbB/Hh6uB6GZzhhsyb7dY7+JUwwOEcOYJ3xo50YdtoPUl5t6R5MZAAAA=" class="Avatar">
                </picture>
                  <div class="UserInfo">
                  <div class = "Name">
                    <div class="NameWrapper">
                      <div class="UsernameContainer"><span font-size="20px" class="UserFirstName">john</span></div>
                    </div>
                    <div class="UserSurName">Xu</div>
                  </div>
                </div>
                </div>

                <div class ="ShortIntro"><p class="Intro">hi there , i am a second student in ucl and interested in computing</p></div>


              </div>
              <div class="Right">
                <div class="FunWrapper">
                  <div  class="FunWrapperContainer">
                    <div class = "stampContainer">
                      <img src="../static/images/image.png">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="UserContentWrap">
            <div class="QuestionContainer">
              <div class="HelperContainer">
                <div class="ScrollContainer">
                  <div class="CardContainer">
                    <div class="CardTitleWrap">
                    <div class="CardTitle"><span>Question ATTEMPTS</span><b>513</b></div>
                    </div>
                    <div class="SubmitContainer">
                        <div class="SubmitPercentage"><span class="Integer">82</span><span class="Fraction">.3%</span></div>
                        <div class="SubmitText">Submit RATE</div>
                      </div>
                    <div class="StyledProgressStats">
                      <div class="QuestionProgress1">
                        <div color="rgba(44, 187, 93, 1)" class="MultipleChoice">MultipleChoice
                        </div>
                        <div class="NumContainer"><span class="PassedNum">15</span><span class="TotalNum">60</span></div>
                      </div>
                      <div class="QuestionProgress2">
                        <div color="rgba(255, 192, 30, 1)" class="TrueFalse">TrueFalse
                        </div>
                        <div class="NumContainer"><span class="PassedNum">5</span><span class="TotalNum">40</span></div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="InfoWrapper">
              <div class="OutsideContainer ">
                <div class="InnerSection ">
                  <p class="SectionTitle">ACHEIVEMENTS</p>
                  <div>
                    <div class="Achievement">
                      <div class="Record"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" color="rgba( 90, 200, 250, 1)" class="Symbol">
                          <path fill-rule="evenodd" d="M5.438 4.417A1 1 0 016.251 4h11.498a1 1 0 01.813.417l3.952 5.512a1 1 0 01-.093 1.277l-8.982 9.304a2 2 0 01-2.878 0L1.58 11.206a1 1 0 01-.093-1.277l3.952-5.512zm2.27 4.876a1 1 0 00-1.415 1.414l5 5a1 1 0 001.414 0l5-5a1 1 0 00-1.414-1.414L12 13.586 7.707 9.293z" clip-rule="evenodd"></path>
                        </svg>
                        <div class="TitleContainer">
                          <div class="Title">LEVEL</div>
                          <div font-weight="400" class="css-5no9er-Count e1x8xs84"><a href="https://leetcode-cn.com/circle/discuss/urLPnC/" target="_blank" class="StyledAnchor">5</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="Achievement">
                      <div class="Record"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" color="rgba(0, 122, 255, 1)" class="Symbol">
                          <path fill-rule="evenodd" d="M1.104 12.444a1 1 0 010-.888c.13-.26.37-.693.722-1.241A18.85 18.85 0 013.88 7.652C6.184 5.176 8.896 3.667 12 3.667s5.816 1.509 8.119 3.985c.79.85 1.475 1.756 2.055 2.663.352.548.593.98.722 1.24a1 1 0 010 .89c-.13.26-.37.692-.722 1.24a18.848 18.848 0 01-2.055 2.663c-2.303 2.476-5.015 3.985-8.119 3.985s-5.816-1.509-8.119-3.985a18.846 18.846 0 01-2.055-2.663c-.352-.548-.593-.98-.722-1.24zM12 16a4 4 0 110-8 4 4 0 010 8zm0-2a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                        </svg>
                        <div class="TitleContainer">
                          <div class="Title">READ</div>
                          <div class="Count">3</div>
                        </div>
                      </div>
                    </div>
                    <div class="Achievement ">
                      <div class="Record"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" color="rgba(44, 187, 93, 1)" class="Symbol">
                          <path fill-rule="evenodd" d="M7.04 9.11l3.297-7.419a1 1 0 01.914-.594 3.67 3.67 0 013.67 3.671V7.33h4.028a2.78 2.78 0 012.78 3.2l-1.228 8.01a2.778 2.778 0 01-2.769 2.363H5.019a2.78 2.78 0 01-2.78-2.78V11.89a2.78 2.78 0 012.78-2.78H7.04zm-2.02 2a.78.78 0 00-.781.78v6.232c0 .431.35.78.78.78H6.69V11.11H5.02z" clip-rule="evenodd"></path>
                        </svg>
                        <div class="TitleContainer">
                          <div class="Title">Like</div>
                          <div class="Count">3</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Section">
                  <p class="SectionTitle">YOUR INFORMATION</p>
                  <div>
                    <div class="RowWrapper">
                      <div class="RowIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" class="Location">
                          <path fill-rule="evenodd" d="M20.364 10.364c0 2.814-1.496 5.556-3.956 8.153a25.656 25.656 0 01-3.506 3.072c-.161.116-.28.198-.347.243a1 1 0 01-1.11 0 12.541 12.541 0 01-.347-.243 25.651 25.651 0 01-3.506-3.071c-2.46-2.598-3.956-5.34-3.956-8.154a8.364 8.364 0 0116.728 0zm-7.836 8.997a23.687 23.687 0 002.428-2.22c2.142-2.26 3.408-4.58 3.408-6.777a6.364 6.364 0 00-12.728 0c0 2.196 1.266 4.517 3.408 6.778A23.689 23.689 0 0012 19.769c.166-.124.342-.26.528-.408zM12 12.91a3 3 0 110-6 3 3 0 010 6zm0-2a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                        </svg></div>
                      <div class="RowContent">LONDON</div>
                    </div>
                    <div class="RowWrapper">
                      <div class="RowIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" class="sex">
                          <path fill-rule="evenodd" d="M16.008 12.124A1.017 1.017 0 0116 12V7.586l-1.121 1.121a1 1 0 11-1.415-1.414l2.829-2.829a1 1 0 011.414 0l2.828 2.829a1 1 0 11-1.414 1.414L18 7.586V12c0 .042-.003.083-.008.124A4.002 4.002 0 0117 20a4 4 0 01-.992-7.876zm-8.016-.248c.005.04.008.082.008.124v1h2a1 1 0 110 2H8v4a1 1 0 11-2 0v-4H4a1 1 0 110-2h2v-1c0-.042.003-.083.008-.124A4.002 4.002 0 017 4a4 4 0 01.992 7.876zM7 10a2 2 0 100-4 2 2 0 000 4zm10 4a2 2 0 100 4 2 2 0 000-4z" clip-rule="evenodd"></path>
                        </svg></div>
                      <div class="RowContent">MALE</div>
                    </div>
                    <div class="RowWrapper">
                      <div class="RowIcon"><i class="fa fa-envelope-o" aria-hidden="true"></i> </div>
                      <div class="RowContent">123456@ucl.ac.uk</div>
                    </div>
                  </div>

                </div>
                <div class="WikiSection">
                  <p class = "WikiTitle"> WEAKNESS POINTS </p>
                  <ul class="Concepts">
                    <li><a class="Concept" href = "https://en.wikipedia.org/wiki/Cheetah">cheetah</a></li>
                    <li><a class="Concept" href = "https://en.wikipedia.org/wiki/Machine_learning">Machine learning</a></li>
                  </ul>

                </div>

              </div>
            </div>

            <div class="RecordContainer">
              <div class = "HeaderContainer">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span class="HeaderInfo"> Your Question records</span>
              </div>
              <div class=" StyledTabView ">
                <div data-key="submissions-content" class="TabContent">
                  <div class="Rows">
                    <div class="StackRow">
                      <div class="Row">
                        <div class="RecordWrapper">
                          <div class="SubmitQuestionContent">
                            <div class="QuestionName"><a href="multiple-choice-template.html " class="QuestionLink">cheetah MC</a></div>
                            <div class="SubmitCodeInfoWrap">
                              </div><span class="PassTag"><span>PASS</span></span>
                            </div>
                          </div>
                          <div class="Timestamp">2 DAYS Ago</div>
                        </div>
                      </div>
                    </div>
                   <div class="StackRow">
                      <div class="Row">
                        <div class="RecordWrapper e14iayf20">
                          <div class="SubmitQuestionContent">
                            <div class="QuestionName"><a href="multiple-choice-template.html " class="QuestionLink">cheetah TF</a></div>
                            <div class="SubmitCodeInfoWrap">
                              </div><span class="PassTag"><span>PASS</span></span>
                            </div>
                          </div>
                          <div class="Timestamp">2 days</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            <div class="screen__background">
				  <span class="screen__background__shape screen__background__shape4"></span>
				  <span class="screen__background__shape screen__background__shape3"></span>

			  </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</body>

</html>